---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

body {
  background-color: #1d1e22;
  background-image: url('images/mountain_background_flat_rudy_lang.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: #fef9c7;
}

/**************************************** HEADER MOBILE ****************************************/
@media only screen and (max-width: 600px) {
  .site-header {
    width: 200px;
    position: absolute;
    top: 0px;
    z-index: 100;
    border-bottom: none;
    border-top: none;
    line-height: 40px;
  }

  .header-wrapper {
    background-color: rgba(255, 255, 255, 0);
    height: inherit;
    width: inherit;
  }

  .site-nav {
    background-color: rgba(94, 101, 161, 0);
    border: none;
    border-radius: 0px;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
  }

  .site-title {
    float: right;
  }

  .site-nav-toggle {
    cursor: pointer;
    color: white;
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 34px;
  }

  .site-nav .trigger {
    display: none;
    flex-direction: column;
    list-style-type: none;
  }

  .site-nav .page-link {
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    border: none;
    text-decoration: none;
    margin-left: unset;
    flex-grow: 1;
    text-align: left;
    padding: 5px;
  }

  .site-nav a {
    font-size: 20px;
    color: white !important;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
    margin-left: 0;
  }

  .active {
    display: flex !important;
  }
}

/***********************************************************************************************/

/**************************************** HEADER DESKTOP ****************************************/ 

@media only screen and (min-width: 600px) {
  .site-header {
    background-color: rgba(255, 255, 255, 0);
    width: 200px;
    position: absolute;
    top: 0px;
    border-bottom: none;
    border-top: none;
  }

  .header-wrapper {
    background-color: rgba(255, 255, 255, 0);
    height: inherit;
    width: inherit;
  }

  .site-nav {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  .site-title {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    padding-left: 5px;
    color: #fce181 !important;
  }

  .home h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    color: #fef9c7;
  }

  .home hr {
    margin: auto;
    width: 60px;
  }

  .home .home-quote {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #fce181;
    margin-bottom: 30px;
    font-variant: small-caps;
  }

  .site-nav-toggle {
    display: none;
  }

  .site-nav .trigger {
    display: flex;
    flex-direction: column;
  }

  .site-nav .page-link {
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    border: none;
    text-decoration: none;
    margin-left: unset;
    flex-grow: 1;
    text-align: left;
    padding: 5px;
  }

  .site-nav .trigger a {
    font-size: 20px;
    color: #fef9c7;
    border-right: 0px solid #fef9c7;
    transition-property: border-right;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
  }

  .site-nav .trigger a:hover {
    background-color: #02677080;
    color: #fef9c7;
    border-right: 10px solid #fce181;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
    margin-left: 0;
  }

  .page-feature {
    width: 800px;
    background-color: #080b17ef;
    border: 4px solid #fce181;
    float: left;
    margin-right: 20px;
    padding: 20px;
  }

  .feature-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;
  }

  .feature-paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  .post-list {
    position: relative;
    top: -66px;
  }

  .post-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fef9c7;
    background-color: #080b17ef;
    border: 4px solid #fce181;
    height: 60px;
    overflow: hidden;
  }

  .post-link span {
    padding-left: 10px;
    padding-top: 7px;
    display: inline-block;
    vertical-align: middle;
  }

  .post-link img {
    position: relative;
    top: -350px; /*FIXME: This needs to be relative to the images size*/
    float: right;
    right: -1000px;

    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
  }

  .post-link:hover img {
    right: 0px;
  }

  .post-meta {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fce181;
  }

  .post-list a:visited {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 40px;
    color: #fef9c7;
  }

  .post-list .post-divider {
    margin: auto;
  }

  .post-list-heading {
    position: relative;
    top: -52px;
  }
}

.setLeft {
  left: 0px;
}

.setRight {
  right: 0px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

a.site-title {
  background-color: rgba(255, 255, 255, 0);
}

/*****************************************************************************************/ 

/**************************************** CONTENT MOBILE ****************************************/
@media only screen and (max-width: 600px) {
  .page-content {
    background-color: #1d1e22;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  }

  .content-wrapper {
    background-color: #116466;
    border-right: 2px solid #9fedd7;
  }
}
/************************************************************************************************/

/**************************************** CONTENT DESKTOP ****************************************/ 
@media only screen and (min-width: 600px) {
  .page-content {
    background-color: #1d1e2200;
    padding-left: 250px;
    padding-right: 250px;
  }

  .content-wrapper {
    background-color: #02677000;
  }
}
/*************************************************************************************************/

/**************************************** FOOTER DESKTOP ****************************************/ 
@media only screen and (min-width: 600px) {
  .site-footer {
    background-color: #080b17f3;
    border-top: 1px solid #203168a6;
    padding: 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

}

/************************************************************************************************/ 