---
layout: default
---

<div class="home">

  <h1>Rudy Lang</h1>
  <hr>
  <br>
  <div class="home-quote">
    Programmer by day, Artist by night.
  </div>

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="flex-grid-content">

    <div class="feature-content">

      <div class="flex-grid-headers" style="flex-grow: 7;">
        Featured
      </div>

      <div class="page-feature">
        
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts-%}
        {%- if post.featured == true -%}
          <h2 class="feature-title">

            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>

            <div class="loading-bar-featured">&nbsp;</div>

          </h2>

          <h5 class="feature-date">
            <span class="post-meta" style="padding-left: 0;">
              {{ post.date | date: date_format }}
            </span>
            <span class="tag">
              {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code>{{ tag_name }}</code>&nbsp;</a>
              {% endfor %}
            </span>
          </h5>
          <p class="feature-paragraph">
            {{ post.summary | escape }}
          </p>

          <img src="/post_images/{{ post.image }}">

          {%- endif -%}
        {%- endfor -%}

      </div>
    </div>

    <div class="post-list-column">
      
      <div class="flex-grid-headers"  style="flex-grow: 3;">
        Posts
      </div>

      {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
  
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts limit:3 -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <span class="tag">
            {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="/tag/{{ tag_name }}"><code>{{ tag_name }}</code>&nbsp;</a>
            {% endfor %}
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              <span>{{ post.title | escape }}</span>
              <!--<img src="/post_images/{{ post.image }}">-->
            </a>
            <div class="loading-bar">&nbsp;</div>
          </h3>

          <p>{{ post.summary | escape }}</p> <!--TODO: Use site.show_excerpts instead?-->

          <img src="/post_images/{{ post.image }}"> <!--Add path to default image to use if post doesn't have one-->

          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
  
        {%- endfor -%}
      </ul>

      <div class="more">
        <a>More...</a>
      </div>
  
      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}
  
    {%- endif -%}
    </div>
  </div>

</div>
