---
layout: default
---

<div class="home">

  <h1>Rudy Lang</h1>
  <hr>
  <br>
  <div class="home-quote">
    Programmer by day, Artist by night.
  </div>

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <div class="flex-grid-headers">
    <div style="flex-grow: 7; padding-left: 20px;">
      Featured
    </div>
    <div style="flex-grow: 3; padding-left: 50px;">
      Posts
    </div>
  </div>

  <div class="flex-grid-content">

    <div style="flex-grow: 7; flex-basis: 0;">
      <div class="page-feature">
        <h2 class="feature-title">Title</h2>
        <h4 class="feature-subtitle">Subtitle</h4>
        <hr>
        <h5 class="feature-date">Jun 23, 2020</h5>
        <p class="feature-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id augue ut nulla condimentum commodo suscipit in nisi. Curabitur pretium massa ac justo egestas, eu varius ligula convallis. Integer in cursus dui. Morbi non malesuada est. Nam commodo erat eu tellus tempus efficitur. Maecenas ut pretium magna, sed scelerisque sapien. In rutrum leo at sem fermentum commodo. Sed sed interdum libero. Vestibulum pharetra sodales arcu, sit amet tincidunt nulla fringilla vitae. Nam at nisl at odio sodales eleifend. Quisque volutpat metus ac convallis hendrerit. Sed bibendum erat id ante tincidunt iaculis. Cras eu felis a dolor hendrerit blandit a sit amet eros. Praesent rutrum felis non leo lacinia molestie. Cras eu tempor lectus, vitae porta nibh. Aliquam finibus vehicula neque, at rhoncus erat viverra vitae.
        </p>
      </div>
    </div>

    <div style="flex-grow: 3; flex-basis: 0;" class="post-list-column">
      {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
  
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              <span>{{ post.title | escape }}</span>
              <!--<img src="/post_images/{{ post.image }}">-->
            </a>
            <div class="loading-bar">&nbsp;</div>
          </h3>

          <p>{{ post.summary | escape }}</p> <!--TODO: Use site.show_excerpts instead?-->

          <img src="/post_images/{{ post.image }}"> <!--Add path to default image to use if post doesn't have one-->

          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
  
        {%- endfor -%}
      </ul>
  
      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}
  
    {%- endif -%}
    </div>
  </div>


  <!--
  <h2 class="page-feature-heading">Featured</h2>
  <div class="page-feature">
    <h2 class="feature-title">Title</h2>
    <h4 class="feature-subtitle">Subtitle</h4>
    <hr>
    <h5 class="feature-date">Jun 23, 2020</h5>
    <p class="feature-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id augue ut nulla condimentum commodo suscipit in nisi. Curabitur pretium massa ac justo egestas, eu varius ligula convallis. Integer in cursus dui. Morbi non malesuada est. Nam commodo erat eu tellus tempus efficitur. Maecenas ut pretium magna, sed scelerisque sapien. In rutrum leo at sem fermentum commodo. Sed sed interdum libero. Vestibulum pharetra sodales arcu, sit amet tincidunt nulla fringilla vitae. Nam at nisl at odio sodales eleifend. Quisque volutpat metus ac convallis hendrerit. Sed bibendum erat id ante tincidunt iaculis. Cras eu felis a dolor hendrerit blandit a sit amet eros. Praesent rutrum felis non leo lacinia molestie. Cras eu tempor lectus, vitae porta nibh. Aliquam finibus vehicula neque, at rhoncus erat viverra vitae.
    </p>
  </div>

  
  <h2 class="post-list-heading">Posts</h2>

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <span>{{ post.title | escape }}</span>
            <img src="/post_images/{{ post.image }}">
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      
      <hr class="post-divider">

      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
    -->

</div>
